.edit-mode--active {
  & .esi__button-container {
    display: flex;
    margin: var(--margin-medium);
  }
  & .esi__content-container {
    min-height: 60px;
  }
  & .esi__content-container-inner {
    border: 4px solid var(--admin-primary);
  }
}
