.message {
  padding: var(--spacing-medium);
  display: flex;
  align-items: center;
}

.message__warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.message__info {
  color: #00529B;
  background-color: #BDE5F8;
}

.message__error {
  color: #D8000C;
  background-color: #FFBABA;
}

.message__body {
  margin-left: var(--spacing-medium);
}
