.admin-pagelist__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.admin-pagelist__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 15px 15px 15px;
  background: var(--white);
  margin-left: 2vw;
  margin-bottom: 1px;

  &:hover {
    background: var(--light-grey);
    cursor: pointer;
  }
}

.admin-pagelist__item__content {
  margin-left: 2.5vw;
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.admin-pagelist__item__content--sub {
  opacity: 0.6;
  font-size: var(--font-size-xsmalltext);
  word-break: break-word;
}

.admin-pagelist__item__page-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: var(--font-size-xsmalltext);
}

.admin-pagelist__item__page-status-text {
  display: none;
  margin-left: 10px;
  opacity: 0.8;
}

@media(--breakpoint-sm) {
  .admin-pagelist__item__page-status-text {
    display: block;
  }

  .admin-pagelist__item__content {
    min-width: 70%;
  }
}

@media(--breakpoint-md) {
  .admin-pagelist__item__content {
    min-width: 60%;
  }
}

@media(--breakpoint-lg) {
  .admin-pagelist__item__content {
    min-width: 65%;
  }
}

.admin-pagelist__pagetitle {
  font-weight: var(--semibold);
  font-size: var(--font-size-smalltext);
}

.admin-pagelist__note-icon {
  color: rgb(92, 92, 92);
  transform: scaleX(-1) rotate(270deg);
}

.admin_pagelist__item__page-status-icon--alert {
  color: var(--peach);
}

.admin_pagelist__item__page-status-icon--success {
  color: var(--admin-green);
}
