
@import "./variables.css";
@import "./elements/global.css";
@import "components/editor.css";
@import "components/elements.css";
@import "components/editMode.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/media.css";
@import "components/tabs.css";
@import "components/dialog.css";
@import "components/imagecropper.css";
@import "components/esi.css";
@import "components/quote.css";
@import "components/folders.css";
@import "components/thumbnail.css";
@import "components/menu.css";
@import "components/spinner.css";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
